body{
    background-color:#000000 ;
}
#calculator{
    background-color:#0B60B0 ;
    margin: 0 auto;
    margin-top: 70px;
    height:auto;
    width:400px;
    padding:20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #F0EDCF;
}
.indicator{
    text-align: center;
    padding: 10px 0 10px 0;
}
#result{
    width:90%;
    height: 50px;
    border-radius: 15px;
    box-shadow:2px 2px 2px #000000 ;
    border-color: #000000 ;
    font-size: 30px;
    text-align: right;
    background-color:#F0EDCF ;
}
#buttons{
    text-align: center;
}
button{
    width:80px;
    height:50px;
    margin:5px;
    background-color:#F0EDCF ;
    box-shadow:2px 2px 2px #000000 ;
    border-radius: 20px;
    font-size: 20px;
    outline: none;
}